body {
  counter-reset: my-sec-counter;
}

.featured-count::before {
  counter-increment: my-sec-counter;
  content: "0" counter(my-sec-counter) "";

  color: #E5E8ED;
  font-size: 128px;
  font-weight: 300;
  line-height: normal
}

.featured-wrapper:nth-child(even) {
  flex-direction: row-reverse;
}

.aboutFeatureWrapper:last-child {
  padding-bottom: 0px !important;
}

.featured-wrapper:last-child {
  padding-bottom: 0;
}

.aboutFeatureWrapper:nth-child(odd) {
  flex-direction: row-reverse !important;
}

.common-feature-wrapper:last-child {
  padding-bottom: 0px !important;
}