.video-card {
    border-radius: 24px 0px 24px 24px;
    background: var(--primary-white, #FFF);
    box-shadow: 0px 30px 60px 0px rgba(0, 50, 126, 0.10);
}

.video-wrap img{
    border-radius: 24px 0px 24px 24px;
}