@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0 15px;

    @media (min-width: 1600px) {
        max-width: 1470px !important;
        margin: auto;
    }
}

.section-padding {
    padding: 100px 0;
}

.construction {
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.construction h2 {
    color: #001B44;
    font-size: 96px;
    font-weight: 600;
}

.box-shadow {
    box-shadow: 0px 30px 60px 0px rgba(0, 50, 126, 0.10);
}

.growSaveBusinessLoansBg {
    background: rgba(229, 239, 254, 0.5) !important;
}

button:focus-visible {
    outline: none !important;
}